.header{
    padding: 15px 20px;
    display: flex;
    justify-content:space-between;
    position: sticky;
    background-color: white;
    box-shadow: 0 5px 8px -10px rgba(0,0,0,0.80);
    top: 0;
    z-index: 100;
}

.header__left{
    display: flex;
    justify-content:space-between;
}

.header__input{
    display: flex;
    align-items:center;
    background-color: #eff2f5;
    padding:10px;
    margin-left: 10px;
    border-radius: 1000px;
}

.header__input > input{
    outline: none;
    border: none;
    background-color:transparent;
}
img{
    cursor: pointer;
}
.header__left > img{
    height:40px; 
    cursor: pointer;
}

.header__center{
    display: flex;
    flex: 1;
    justify-content:center;
}

.header__icon{
    display: flex;
    align-items:center;
    padding: 0 30px;
    cursor: pointer;
}

.header__icon:hover{
    background-color: #eff2f5;
    border-radius: 10%;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
    transition: 0.5s ease-out;
    border-bottom: 4px solid #2e81f4;
}

.header__icon--active > .MuiSvgIcon-root{
    color: #2e81f4;
}

.header__icon--active{
    border-bottom: 4px solid #2e81f4;
}

.header__icon > .MuiSvgIcon-root,.MuiButtonBase-root{
    color: gray;
}

.header__icon > .MuiSvgIcon-root:hover ,.MuiButtonBase-root:hover{
    color: #2e81f4;
    transition:0.5s ease-out;
}

.header__info{
    display:flex;
    align-items: center;
}

.header__info > h4{
    display:flex;
    margin-left:5px
}

.header__right{
    display:flex;
}

